*{
    margin: 0;
    padding: 0;

    
    

}

html,body{
    
    
    margin: auto;
    

    font-family: 'Lora', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
@media (max-width: 896px) {
}
@media (min-width: 414px) {
}
