*{
    margin: 0;
    padding: 0;
}

html,body{
    
    max-width: 896px;
    max-height: 414px;
    margin: auto;
    

    font-family: 'Lora', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
